<h1>About</h1>
<img src='https://usercontent.one/wp/www.fourfundraisers.com/wp-content/uploads/2020/04/WhatsApp-Video-2020-03-31-at-17.18.55.gif' alt='what in the world?!'><br/><br/>
Friend Rolodex is my first foray into Ruby on Rails web applications.<br/><br/>
This program utilized a number of new technologies, including rails, bootstrap, SQL, HTML and CSS.
